
.services-area2 .single-services {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 50px;
    border: 10px solid #ff1616;
    padding: 29px 20px 29px 80px;
    border-style: groove;
    
}

.features-img img{
    width: 290px;
    height: 430px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-area2 .single-services {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 29px 20px 29px 40px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services-area2 .single-services {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 29px 20px 29px 40px;
        margin-bottom: 40px;
    }
}
@media (max-width: 575px) {
    .services-area2 .single-services {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 29px 20px 29px 20px;
        margin-bottom: 40px;
    }
}
@media (max-width: 575px) {
    .services-area2 .single-services img {
        width: 100%;
        height: 450px;
        width: 290px;
    }
}
.services-area2 .single-services .features-caption {
    margin-left: 10%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-area2 .single-services .features-caption {
        margin-left: 0px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services-area2 .single-services .features-caption {
        margin-left: 0px;
    }
}
@media (max-width: 575px) {
    .services-area2 .single-services .features-caption {
        margin-left: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-area2 .single-services .features-caption img {
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services-area2 .single-services .features-caption img {
        margin-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .services-area2 .single-services .features-caption img {
        margin-bottom: 30px;
    }
}
.services-area2 .single-services .features-caption h3 {

    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 9px;
    font-weight: 400;
    display: block;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .services-area2 .single-services .features-caption h3 {
        font-size: 24px;
    }
}
@media (max-width: 575px) {
    .services-area2 .single-services .features-caption h3 {
        font-size: 24px;
    }
}
.services-area2 .single-services .features-caption p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .services-area2 .single-services .features-caption p {
        font-size: 15px;
    }
}
@media (max-width: 575px) {
    .services-area2 .single-services .features-caption p {
        font-size: 15px;
    }
}
.services-area2 .single-services .features-caption .review .rating {
    display: inline-block;
}
.services-area2 .single-services .features-caption .review .rating i {
    font-size: 16px;
    
}
.services-area2 .single-services .features-caption .review p {
    display: inline-block;
    font-size: 13px;
}
.services-area2 .single-services .features-caption .price {
    display: flex;
    align-items: center;
}
.services-area2 .single-services .features-caption .price p{
    margin: 0px;
}
.services-area2 .single-services .features-caption .price span {
    margin-left: 15px;
    font-weight: 500;
    font-size: 32px;
    color: #ff1616;
    display: block;
}

.white-btn {
    background: #fff;
    padding: 24px 37px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: #222222;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    -moz-user-select: none;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 1px solid #ff1616;
    overflow: hidden;
}
@media (max-width: 575px) {
    .white-btn {
        padding: 25px 18px;
    }
}
.white-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #ff1616;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0;
    border: 1px solid #ff1616;
}
.white-btn:hover {
    color: #fff !important;
    box-shadow: 0px 3px 31px 2px rgba(207, 207, 207, 0.7);
}
.white-btn:hover::before {
    transform: scaleX(1);
    z-index: -1;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width: 575px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.nav-button .nav-item {
    padding-bottom: 40px;
    border: 0;
    float: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav-button .nav-item {
        float: left;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .nav-button .nav-item {
        float: left;
    }
}
@media (max-width: 575px) {
    .nav-button .nav-item {
        float: left;
    }
}
.nav-button .nav-item .nav-item {
    display: block;
}
@media (max-width: 575px) {
    .nav-button .nav-item .nav-item {
        font-size: 18px;
    }
}
.nav-button .nav-item .nav-link {
    color: #454e6d;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 24px;
    margin-right: 8px;
    border: 1px solid #eee1e0;
    border-radius: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-button .nav-item .nav-link {
        padding: 7px 17px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .nav-button .nav-item .nav-link {
        padding: 7px 17px;
    }
}
@media (max-width: 575px) {
    .nav-button .nav-item .nav-link {
        padding: 7px 17px;
        margin-bottom: 10px;
    }
}
.nav-button .nav-item .nav-link.active {
    background-color: #ff1616;
    color: #fff;
    border: 1px solid transparent;
}
@media (max-width: 575px) {
    .nav-button .nav-item .nav-link.active {
        border-bottom: 0;
    }
}

.share-btn {
    border-radius: 50%;
    padding: 12px 17px !important;
}
.share-btn i {
    margin: 0;
}


.border-btn {
    background: none;
    text-transform: normal;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    z-index: 1;
    line-height: 1px;
}
.border-btn i {
    font-size: 25px;
     color: #ff1616;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.border-btn::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #fff;
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    border-radius: 0;
}

.add-to-cart{
    display: flex;
    align-items: center;
    justify-items: center;
}
.nav-button{
    display: flex;
    justify-content: center;
}

.qty {
    width: 100px;
    display: flex;
    margin-bottom: 45px;
}

.qty input{
    text-align: center;
    max-width: 45px;
    padding: 5px 10px;
    height: 30px;
    border: none;
    border-top: 1px solid #00eac9;
    border-bottom: 1px solid #00eac9;
}

.qty .btn-minus{
    height: 30px;
    width: 30px;
    background-color: #00eac9;
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
}

.qty .btn-plus{
    height: 30px;
    width: 30px;
    background-color: #00eac9;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.cmt-box{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cmt-header{
    display: flex;
    justify-content: space-between;

}

.cmt-header p{
    margin: 0px;
}
.cmt-title{
    display: flex;
}
.cmt-title p {
    margin: 0px;
    padding-right: 20px;
}


.cmt-title strong{
    color: #ff1616;
}
.cmt-title span{
    color:rgb(215, 128, 14) !important;
}


.send-cmt {
    border-top: 1px solid gray;
}
.send-cmt .pi-star-fill{
    color:rgb(215, 128, 14) !important;
}


.send-cmt span:hover{
    color:rgb(215, 128, 14) !important;
}

.send-cmt input{
    outline: none;
    width: 250px;
    margin-right: 10px;
}

.cmt-btn{
    background-color: #169aff;
    color: white;
    outline: nome;
    border-color: #169aff;
}


